/* O Grid é só feito no pai, não é possível realizar ele grid dentro de grid, usado flexbox */

body {
    width:98.7vw;
    height:100vh;
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar footer"
    ;
    margin:0;
    background-color: #bbb;
}

.hide-sidebar{ 
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
    grid-area: header;
    display:flex;
    background-color:rgb(155, 71, 180);
    align-items: center;
    z-index: 10;
    box-shadow:
        0 2px 4px -1px rgba(0,0,0,.2),
        0 4px 4px 0px rgba(0,0,0,.14),
        0 1px 10px 0px rgba(0,0,0,.12),
}
.header .logo {
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    background-color:grey;
    flex-basis:200px;
    height: 100%;
}

.header .spacer {
    flex:1;
}

.header .dropdown {
    position:relative;
    height:100%;
}

.header .dropdown-button {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    color:white;
    font-size:1.1rem;
    cursor:pointer;
    font-weight:300;
}

.header .dropdown-content{
    display:none;
    position:absolute;
    min-width:100%;
    background-color: #f9f9f9;
    padding: 15px 5px;
    z-index:100;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2)
}

.header .dropdown:hover{
    display:block;
    background-color: rgba(0,0,0,.1);
}
.header .dropdown:hover .dropdown-content{
    display:block;
}

.header .dropdown-content ul {
    list-style-type:none;
    padding-left:0;
    margin-bottom:0;
}

.header .dropdown-content a {
    display:flex;
    align-items: center;
    padding:7px;
    font-size:1.1rem;
    text-decoration:none;
    color: #222;
}

.header .dropdown-content a:hover {
    background-color:rgba(0,0,0,.05)
}

.header .menu-toggle {
    color:white;
    cursor:pointer;
    filter:drop-shadow(0px 10px 5px rgba(0,0,0,.2));
}

.header .avatar {
    height:50%;
    border-radius:50%;
    margin-left:15px;
    filter:drop-shadow(0px 3px 5px rgba(205,205,205,.5))
}

.sidebar {
    grid-area: sidebar; 
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow: -5px 0px 25px 1px rgba(0,0,0,.1);
    background-color:#ddd;
}

.sidebar .menu {
    width:100%;
    flex-grow:1;
}

.sidebar .menu .nav-list {
    list-style:none;
    padding:0;
    margin:0;
}

.sidebar .menu .nav-item {
    margin:0;
    padding: 10px 0px 15px 25px;
}


.sidebar .menu .nav-item a {
    font-size:1.1rem;
    color:#555;
    text-decoration:none;
}

.sidebar .menu .nav-item:hover {
    background-color:rgba(0,0,0,.05)
}

.hide-sidebar .sidebar {
    display:none;
}

.sidebar .sidebar-widgets {
    position:sticky;
    bottom:20px;
}

.sidebar .sidebar-widget {
    display:flex;
    align-items:center;
}

.sidebar .division {
    widows: 80%;
    border:1px solid #b6b6b6;
}

.sidebar .sidebar-widget .icon {
    font-size:2.5rem;
    margin: 2px 10px 2px 0px;
}
.sidebar .sidebar-widget .info {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.sidebar .info .main {
    font-size:1.5rem;
}

.content {
    grid-area: content; 
    background-color: #fff;
    margin:20px;  
    padding:20px;
    border-radius:15px;
    box-shadow:0px 0px 15px 0px rgba(0,0,0,.2)
}

.content .content-title {
    display:flex;
    align-items:center;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}

.content .content-title .icon {
    font-size: 3rem;
}

.content .content-title h1 {
    font-weight:300;
    font-size:1.5rem;
    color:#444;
    margin:0;
}

.content .content-title h2 {
    color:#888;
    font-weight:200;
    font-size:1.4rem;
}

.content .record {
    font-size:1.5rem;
}

.footer {
    grid-area: footer;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 25px;
    background-color:#222;
    color:#ddf;
    font-size:1.25rem

}